.nav-center a {
  text-decoration: none; 
}
header {
  height: 128px;
  display: flex;
  padding: 0 40px;
  border-bottom: 1px solid #DDDDDD;
}

.nav-cont {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  
}
.logo img {
  height: 70px;
}
.nav-center {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 20px;
  line-height: 26px;
  width: 518px;
  height: 26px;
  font-weight: 500;
  
}
.nav-center li {
  cursor: pointer;


}
a{
  color: #282828;
}
.nav-center  .active {
  color: #339933;
}
.cart {
  cursor: pointer;
}
.cart img {
  height: 48px;
}